.reviewProfile {
    align-self: flex-start;
    height: 10vh;
    aspect-ratio: 1 / 1;
}
.reviewContent {
    align-items: flex-start;
}
.reviewCard {
    justify-content: flex-start;
}
.reviewRating {
    height: 5vh;
    aspect-ratio: 102 / 18;
}
.restaurantName {
    font-size: 3vh;
}
.reviewerName {
    font-size: 2vh;
    font-weight: bold;
}
#ReviewFrame {
    max-height: 68vh;
    overflow:auto;
    justify-content:flex-start;
    background-color: #70BFFF;
}

