#Login{
    background-image: url(https://www.discoverlosangeles.com/sites/default/files/images/2020-03/Wayfarer%20DTLA%20The%20Rooftop%20tables.jpg?width=1600&height=1200&fit=crop&quality=78&auto=webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#darken{
    position: absolute;
    height: 100%;
    max-height: 90vh;
    width: 100%;
    background-color: #000;
    opacity: .3;
    z-index: 1;
}

#loginBox{
    background-color: #70BFFF;
    width: 40%;
    height: 30%;;
    border-radius: 20px;
    margin: 60px;
    z-index: 2;
    border: 4px solid #4c88e7;
}