.navbar {
    background-color: #161616;
}
.navbar-nav, .navbar-light .nav-link {
    color: #4C88E7;
}
.navbar-brand {
    font-size: 1.4em;
    color: #4C88E7;
}

.navbar-nav:hover, .navbar-light:hover, .nav-link:hover, .navbar-brand:hover {
    color: white;
}

.navbar-brand {
    height: 90%;
}
#Logo {
    height: 90%;
    border: silver solid 3px;
    box-sizing: border-box;
}
#NavigationBar {
    height: 10vh;
}