#RestaurantCard {
    align-items: flex-start;
    max-height: 90vh;
    overflow:hidden;
    background-color: #4c88e7;
}
.smallRestaurantImage {
    height: 40vh;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}
.restaurantBigName {
    font-size: 10vh;
    flex-grow: 1;
    text-align:left;
}
.smallFavorite {
    padding: 0;
    background-color: rgba(0,0,0,0);
    border: none;
    height: 10vh;
    aspect-ratio: 1 / 1;
}
.favoriteButton {
    aspect-ratio: 1 / 1;
}

#ReviewFrame {
    max-height: 50vh;
}
