extends layout 

block content 
    form(method="POST" action="/api/users/created")
        input(type="hidden" name="_method" value="POST")
        label(for="firstname") First Name: 
        input(type="text" name="firstname")
        br
        label(for="email") Email: 
        input(type="text" name="email")
        br
        label(for="password") Password: 
        input(type="text" name="password")
        input(type="submit")