extends layout 

block content 
    form(method="POST" action=`/api/reviews/${review._id}`)
        input(type="hidden" name="_method" value="DELETE")
        div You are going to permanently delete this review...
        input(type="submit")