extends layout 

block content 
    h1 Welcome to the API
    a(href="/addUser") Add an Account
    br
    div -- Yelp API Passthrough --
    br
    a(href="/yelp/getBusinesses") Find Businesses
    br
    a(href="/yelp/getReviews") Find Reviews