extends layout 

block content 
    form(method="POST" action="/yelp/reviews")
        label(for="businessId") Business ID: 
        input(type="text" name="businessId")
        br
        input(type="submit")